{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
    <div class="p-5">
        <h3 class="mb-5">Welcome back to <span style="text-transform: lowercase; color: #00bfa6">e</span>Notes, please login.</h3>
        <form class="" action="login" method="POST">
            {% csrf_token %}
            <fieldset>
                <div class="form-group">
                    <label for="phoneNumber">Phone number</label>
                    <input type="text" class="form-control" name="phoneNumber" aria-describedby="phoneNumberHelp" placeholder="Enter phone number">
                    <small id="phoneNumberHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="Enter Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </fieldset>
        </form>
    </div>
{% endblock 'content' %}